
body {
    margin: 0;
}



/* Header */
header {
    background-image: url(images.img/jordan-_g51kA_xq2I-unsplash.jpg);
    background-size:cover;
    position: relative;
    height: 9rem;
}

/* Logo Header */
img.logoheader {
    width: 15vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11%;
    
}



/* Hamburgermeny */
nav.hamburgermenu {
    display: none;
}

input#hamburgermenu {
    display: none;
}

input#hamburgermenu:checked ~ nav.hamburgermenu {
    display: block;
}
/* Transition?*/

label [for=hamburgermenu] { 
    font-size: 4rem;
    margin-left: 2rem;
  }

/*Meny utseende */

/* Hele listen i seg selv */
.hamburgermenu ul {
    list-style: none;
    display: inline-block;
    width: 9rem;
    background-color: beige;
    padding: 1.5rem;
}

/* Liste-elementene */
.hamburgermenu ul li {
    border: solid black 0.1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.hamburgermenu ul li:last-child {
    margin-bottom: 0;
}

/* Linken, altså innholdet i boksene */
.hamburgermenu li a {
    text-decoration: none;
    color:black;
    font-family: monospace;
    font-size: 1rem;
}




/* Ikoner */
.fas {
    color: black;
    font-size: 2rem;
}

.shoppingbag {
    margin-right: 2rem;
}


/* Seksjon: søkefelt og ikoner */

.searchicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}

.search {
    width: 11rem;
    height: auto
    border: solid black;
    border-width: 0.1rem;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

.search ::placeholder {
    text-align: right;
    color: black;
}

.search :hover {
    outline: none;
} /*Fikse dette senere for gøy */


@media screen and (min-width: 600px) {
    header {
        height: 30rem;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    img.logoheader {
        padding-top: 16rem;
        width: 100%
        height: auto;
    }
}

