

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-left: 10rem;
    margin-right:10rem;
}


h1 {
    text-align: center;
    text-transform: uppercase;
}


.checkoutimage img {
    width: 9rem;
    height: auto;
    display: block;
    margin-left: 5rem;
    margin-top: 3.2rem;
    outline: solid white 1px;
}

.cartcheckout {
    background-color: #9E9090;
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border: solid black 1px;
}

div.checkoutinfo {
    margin-left: 5rem;
}

.checkoutinfo {
    color: white;
}

#x {
color: white;
text-decoration: none;
padding: 0.5rem;
border: solid 1px white;
margin-right: 2rem;
display: block;
width: 2rem;
height: 2rem;
margin-top: 2rem;
float: right;

}

.addremove a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: solid white 1px;
    font-weight: 600;
    font-size: 0.8rem;
}

.addremove p {
    display: inline-block;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
}

/* Har har du eksemel på når det funker foran og bak klasse, er det pga inline/block?*/
div.addremove {
    
    width: fit-content;
    height: fit-content;
    margin-left: 5rem;
    margin-top: 2rem;
    display: inline;
   

}

p.prizecheckout {
    display: block;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    float: right;
    margin-bottom: 2rem;

}


p.smalltext {
font-size: 0.6rem;
}

.totalamount {
    width: 90%;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.totalamount div {
    flex: 50%;
}

.griditall {
    display: grid;
    grid-template-rows: auto auto;
}

div.divhøyre {
    text-align: end;
}

#total {
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    div.checkoutinfo, div.addremove, .checkoutimage img {
        margin-left: 1rem;
    }
    p#total {
        margin-bottom: 0;
    }
    p.smalltext {
        margin-top: 0;
    }
}





h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
}


.youmightalsolikeimage img {
    max-width: 250px;
}

.youmightalsolikeimages {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img3, .img2, .img1 {
    flex: 33.3%;
}

div.img1, div.img2, div.img3 {
    width: 160px;
    height: 150px;
    text-align: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vw;
}

.infoimage p {
    margin: 0%;
}

p.prize {
    font-size: 20px;
    padding-top: 0.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.youmightalsolikeimage a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.7rem 2rem 0.7rem 2rem;
    background-color: #7C6F61;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
}




#homelink a {
    display: block;
    width: 5rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#homelink {
    text-align: center;
}




@media screen and (max-width:837px) {
    body {
        margin: 0;
    }
}