body {
    margin: 8rem;
}

@media screen and (max-width: 700px){
    body {
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}


h1 {
    text-align: center;
}

section {
    margin-bottom: 5rem;
    
}

.orderinfo {
    background-color: #dbcebd;
    padding: 4rem;
}

.headline {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.orderinfo p {
    margin-bottom: 2rem;
}

p.number {
    margin-bottom: 3rem;
}

p.smalltext {
    margin-bottom: 4rem;
}

.orderinfo a {
    color: black;
    font-weight: 600;
}

h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.furtherinfo {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.furtherinfo a {
    color: black;
}

.orderlink {
    padding-bottom: 2rem;
}


img.successlogo {
    display: block;
    width: 6rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}



.youmightalsolikeimage img {
    max-width: 250px;
}

.youmightalsolikeimages {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img3, .img2, .img1 {
    flex: 33.3%;
}

div.img1, div.img2, div.img3 {
    width: 160px;
    height: 150px;
    text-align: center;
    padding: 1rem;
}

.infoimage p {
    margin: 0%;
}

p.prize {
    font-size: 20px;
    padding-top: 0.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.youmightalsolikeimage a {
    display: inline-block;
    text-decoration: none;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0.7rem 3rem 0.7rem 3rem;
    background-color: #7C6F61;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.successline {
    margin-top: 4rem;
    margin-bottom: 4rem;
}